.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
 
.red-grey_line::before,
.red-grey_line::after,
.green-line::after,
.blue-line::after{
        content: "";
        display: block;
        z-index: 200;
        width: .3rem;  
}

.red-grey_line{
    position: absolute;
    top: 0;
    left: 20%;

    &:before{
        background-color: $color-red;
        height: 50vh;
        margin-left: 1px;
    }
    &:after{
        background-color: $color-grey-1; 
        height: 50vh; 
        margin-left: 1px;
    }

}


.green-line{
    position: absolute;
    top: 15vh;
    right: 20%;

    &:after{
        background-color: $color-green;
        height: 85vh;
    }
}


.blue-line{
    position: absolute;
    top: 7.5vh;
    left: 50%;  
    background-color: $color-blue-navy;
    width: 50%;
    height: .25rem;
    
}