//////////////////////////
$color-black:hsl(0, 0%, 0%);
$color-red:hsl(0, 100%, 50%);
$color-white:hsl(0, 0%, 100%);
$color-grey-1:hsl(0, 0%, 50%);
$color-grey-2:hsl(0, 0%, 80%);
$color-green:hsl(120, 100%, 25%);
$color-blue-navy:hsl(240, 100%, 25%);
